<div class="banner">
  <p>Simple Airbnb</p>
  <p><%= link_to "Add a flat", new_flat_path %></p>
</div>

<div class="container">
  <div class="col-8">
    <div class="main-info"></div>
    <div class="description"></div>
  </div>
  <div class="col-4"></div>


</div>
