// Place all the styles related to the flats controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.banner {
  display: flex;
  background: grey;
  justify-content: space-between;
  height: 50px;
}

.container {
  width: 700px;
  margin: 0 auto;
}

.flats {
  display: flex;
}

.flex {
  display: flex;
}

.flat-actions {
  display: flex;
}
